.output_panel {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding-top: 0.5rem;
    width: 100%;
    background: #f7f7f7;
}

.tokenSourceLoc {
    display: inline-block;
    min-width: 2.5rem;
}

.tokenOutput {
    border-color: #ddd;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 0.15rem;
    color: #777777;
    margin: 0.2rem;
    padding: 0.2rem;
    width: auto;
}

.tokenOutput:hover {
    background: #FFF59D;
    border-color: #FBC02D;
    color: #000;
}

.tokenError {
    background: #ffcccb;
    border-color: #ba6b6c;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 0.15rem;
    color: #000;
    margin: 0.2rem;
    padding: 0.2rem;
    width: auto;
}